:root {
  /* Typography

  // ========================================== */
  --font-family: "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-display: --font-family;
  --font-family-alt:
    -apple-system,
    BlinkMacSystemFont,
    helvetica neue,
    helvetica,
    Ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
  --font-family-mono:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;
  /* Type scale */
  /* Add values for your typographic hierarchy in em/rem units: */
  /* Very large sizes */
  --font-size-display: 4.5rem;
  /* Large sizes */
  --font-size-xx-large: 3rem;
  --font-size-x-large: 2.25rem;
  --font-size-large: 1.5rem;
  /* Regular sizes */
  --font-size-medium: 1.125rem;
  --font-size: 1rem;
  /* Small sizes */
  --font-size-small: 0.8rem;
  --font-size-x-small: 0.75rem;
  /* set base values */
  --text-base-size: var(--font-size);
  --text-scale-ratio: 1.125;
  /* major second */
  --text-scale-ratio-alt: 1.2;
  --line-height-text: 1.5;
  --line-height-heading: 112.5%;
  --line-height-alt: 1.25;
  /* Hex color space */
  --ucla-gold: #ffd100;
  --ucla-blue: #2774ae;
  --ucla-lightest-blue: #daebfe;
  --ucla-lighter-blue: #8bb8e8;
  --ucla-darker-blue: #005587;
  --ucla-darkest-blue: #003b5c;
  --ucla-darker-gold: #ffc72c;
  --ucla-darkest-gold: #ffb81c;
  --ucla-cyan: #0ff;
  --ucla-magenta: #ff00a5;
  --ucla-green: #00ff87;
  --ucla-janss-steps-green: #32aa56;
  --ucla-yellow: #ff0;
  --ucla-purple: #8a69d4;
  --ucla-black: #000;
  --ucla-black-90: #1a1a1a;
  --ucla-black-80: #333;
  --ucla-black-70: #4d4d4d;
  --ucla-black-60: #666;
  --ucla-black-50: #808080;
  --ucla-black-40: #999;
  --ucla-black-30: #b3b3b3;
  --ucla-black-20: #ccc;
  --ucla-black-10: #e6e6e6;
  --ucla-white: #fff;
  /* Border radii
 // ========================================== */
  --border-radius-x-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;
  /* Border widths
// ========================================== */
  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 5px;
  /* Spacing
// ========================================== */
  --max-width: 90rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: 0.125rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  /* Timing
// ========================================== */
  --duration-instantly: 0;
  --duration-immediately: 0.05s;
  --duration-quickly: 0.1s;
  --duration-promptly: 0.2s;
  --duration-slowly: 0.4s;
}

hr {
  color: var(--ucla-black-10);
}

/* =====================================================
   Print
   =====================================================
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  border-top: 25px solid var(--ucla-blue);
  color: var(--ucla-black-80);
  display: grid;
  font-family: var(--font-family);
  font-size: var(--font-size);
  grid-gap: 2vw;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
}

header {
  grid-column: 3 / -1;
  grid-row: 1;
}

main {
  display: grid;
  grid-column: 3 / 10;
  grid-row: 2;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.category {
  border: 1px solid var(--ucla-blue);
  border-bottom: 3px solid var(--ucla-blue);
  border-top: 3px solid var(--ucla-blue);
  margin: var(--spacing);
  padding: var(--spacing-large);
}

/* =====================================================
   Text-level semantics
   w3c.github.io/html/textlevel-semantics.html
   ===================================================== */
/* =====================================================
   Heading content semantics
   w3c.github.io/html/dom.html#heading-content
   ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-display);
}

header h1 {
  margin-bottom: 0;
}

h2 {
  font-size: var(--font-size-x-large);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
}

h5 {
  font-size: var(--font-size);
  line-height: var(--line-height-text);
}

h6 {
  font-size: var(--font-size-small);
  line-height: var(--line-height-text);
}

.h2,
.h3 {
  color: var(--ucla-black-60);
  font-size: var(--font-size);
  line-height: var(--line-height-text);
}

/* =====================================================
   Lists semantics
   w3c.github.io/html/textlevel-semantics.html
   =====================================================
*/
ul,
ol {
  color: var(--ucla-black-80);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-text);
  margin: 0;
  padding: 0;
}

/* =====================================================
   Paragraphs semantics
   w3c.github.io/html/textlevel-semantics.html
   ===================================================== */
p {
  line-height: var(--line-height-text);
}

.standfirst,
.leadline {
  font-size: var(--font-size-large);
  line-height: var(--line-height-alt);
}

small,
.small,
.legal {
  font-size: var(--font-size-x-small);
}

code {
  font-family: var(--font-family-code);
}

/* =====================================================
   Quotes
   w3c.github.io/html/textlevel-semantics.html
   =====================================================
*/
/*# sourceMappingURL=stylesheet.css.map */