:root {
  /* Add UCLA name space to all CSS properties
   UCLA Brand Colors
  // ========================================== */
  --ucla-gold: #ffd100;
  --ucla-blue: #2774ae;
  --ucla-lightest-blue: #daebfe;
  --ucla-lighter-blue: #8bb8e8;
  --ucla-darker-blue: #005587;
  --ucla-darkest-blue: #003b5c;
  --ucla-darker-gold: #ffc72c;
  --ucla-darkest-gold: #ffb81c;
  --ucla-cyan: #0ff;
  --ucla-magenta: #ff00a5;
  --ucla-green: #00ff87;
  --ucla-janss-steps-green: #32aa56;
  --ucla-yellow: #ff0;
  --ucla-purple: #8a69d4;
  --ucla-black: #000;
  --ucla-black-90: #1a1a1a;
  --ucla-black-80: #333;
  --ucla-black-70: #4d4d4d;
  --ucla-black-60: #666;
  --ucla-black-50: #808080;
  --ucla-black-40: #999;
  --ucla-black-30: #b3b3b3;
  --ucla-black-20: #ccc;
  --ucla-black-10: #e6e6e6;
  --ucla-white: #fff;
  /* Typography
  // ========================================== */
  --ucla-font-family: Helvetica, Arial, sans-serif;
  --ucla-font-family-display: --ucla-font-family;
  --ucla-font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --ucla-font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  /* Font Weights */
  --ucla-font-weight-thin: 200;
  --ucla-font-weight-light: 300;
  --ucla-font-weight: 400;
  --ucla-font-weight-medium: 500;
  --ucla-font-weight-semi-bold: 600;
  --ucla-font-weight-bold: 700;
  --ucla-font-weight-xbold: 800;
  --ucla-font-weight-black: 900;
  /* Type scale */
  --ucla-text-scale-ratio: 1.125;
  /* major second */
  --ucla-font-size-xxxx-display: 4.624rem;
  --ucla-font-size-xxx-display: 4.11rem;
  --ucla-font-size-xx-display: 3.653rem;
  --ucla-font-size-x-display: 2.887rem;
  --ucla-font-size-display: 2.566rem;
  --ucla-font-size-xxxx-large: 2.027rem;
  --ucla-font-size-xxx-large: 1.802rem;
  --ucla-font-size-xx-large: 1.602rem;
  --ucla-font-size-x-large: 1.424rem;
  --ucla-font-size-large: 1.266rem;
  --ucla-font-size-medium: 1.125rem;
  --ucla-font-size: 1rem;
  --ucla-font-size-small: 0.889rem;
  --ucla-font-size-x-small: 0.79rem;
  /* Strat comm defaults. px */
  --ucla-stratcomm-font-size-display: 4.5rem;
  --ucla-stratcomm-font-size-xx-large: 3rem;
  --ucla-stratcomm-font-size-x-large: 2.25rem;
  --ucla-stratcomm-font-size-large: 1.5rem;
  --ucla-stratcomm-font-size-medium: 1.125rem;
  --ucla-stratcomm-font-size: 1rem;
  --ucla-stratcomm-font-size-small: .8rem;
  --ucla-stratcomm-font-size-x-small: .75rem;
  /* Line height */
  --ucla-line-height-text: 1.5;
  --ucla-line-height-display: 1.125;
  --ucla-line-height-alt: 1.25;
  --ucla-line-height: 1;
  /* Border radii
 // ========================================== */
  --ucla-border-radius-x-small: .25rem;
  --ucla-border-radius-small: .5rem;
  --ucla-border-radius-medium: .75rem;
  --ucla-border-radius-large: 1rem;
  --ucla-border-radius-circle: 50%;
  /* Border widths
// ========================================== */
  --ucla-border-width-hairline: 1px;
  --ucla-border-width-thin: 2px;
  --ucla-border-width-thick: 4px;
  --ucla-border:
    var(--ucla-border-width-hairline) solid
    var(--ucla-blue);
  --ucla-border-thick-gold:
    var(--ucla-border-width-thick) solid
    var(--ucla-gold);
  /* Spacing
// ========================================== */
  --ucla-max-width: 90rem;
  --ucla-min-width: 60rem;
  --ucla-spacing-x-small: .25rem;
  --ucla-spacing-small: .5rem;
  --ucla-spacing: .75rem;
  --ucla-spacing-medium: 1rem;
  --ucla-spacing-large: 1.5rem;
  --ucla-spacing-xx-small: .125rem;
  --ucla-spacing-x-large: 2rem;
  --ucla-spacing-xx-large: 3rem;
  /* Breakpoints relative to 16px base font
// ========================================== */
  --ucla-bp-x-small: 18.75em;
  --ucla-bp-small: 30em;
  --ucla-bp-medium: 48em;
  --ucla-bp-large: 64em;
  --ucla-bp-x-large: 75em;
  --ucla-bp-xx-large: 87.5rem;
}

/* Add ucla- name space to all CSS properties to avoid clashes

// ========================================== */
/* Typography
// ========================================== */
/* Type scale */
/* major second */
/* Very large sizes */
/* Large sizes */
/* Regular sizes */
/* Small sizes */
/* Line height */
/* Border radii
// ========================================== */
/* Border widths
// ========================================== */
/* Spacing
// ========================================== */
p {
  line-height: var(--ucla-line-height-text);
}

hr {
  color: var(--ucla-black-10);
}

ul,
ol {
  line-height: var(--ucla-line-height-text);
}

figure {
  margin: 0;
  padding: 0;
}

/* =====================================================
   Print
   =====================================================
*/
html {
  border-top: 25px solid var(--ucla-blue);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--ucla-black-80);
  font-family: var(--ucla-font-family);
  font-size: var(--ucla-font-size);
  line-height: var(--ucla-line-height-text);
  margin: var(--ucla-spacing-x-large);
  max-width: var(--ucla-max-width);
}

article {
  max-width: var(--ucla-min-width);
}

table {
  border-collapse: collapse;
  margin: var(--ucla-spacing) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: var(--ucla-border-style-thin);
  padding: var(--ucla-spacing) 0;
}

td {
  border-bottom: var(--ucla-border-style-thin);
  padding: var(--ucla-spacing);
}

td,
th,
tr {
  vertical-align: middle;
}

/* =====================================================
   Text-level semantics
   w3c.github.io/html/textlevel-semantics.html
   ===================================================== */
small,
.small,
.legal {
  font-size: var(--ucla-font-size-x-small);
}

code {
  font-family: var(--ucla-font-family-code);
}

.font-size-small {
  font-size: var(--ucla-font-size-small);
}

.font-size {
  font-size: var(--ucla-font-size);
}

.font-size-medium {
  font-size: var(--ucla-font-size-medium);
}

.font-size-large {
  font-size: var(--ucla-font-size-large);
}

.font-size-x-large {
  font-size: var(--ucla-font-size-x-large);
}

.font-size-xx-large {
  font-size: var(--ucla-font-size-xx-large);
}

.font-size-display {
  font-size: var(--ucla-font-size-display);
}

/* =====================================================
   Heading content semantics
   w3c.github.io/html/dom.html#heading-content
   ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--ucla-font-weight-bold);
}

h1,
.h1 {
  font-size: var(--ucla-font-size-display);
  line-height: var(--ucla-line-height);
}

h2,
.h2 {
  font-size: var(--ucla-font-size-x-large);
  line-height: var(--ucla-line-height-display);
}

h3,
.h3 {
  font-size: var(--ucla-font-size-large);
  line-height: var(--ucla-line-height-display);
}

h4,
.h4 {
  font-size: var(--ucla-font-size-medium);
}

h5,
.h5 {
  font-size: var(--ucla-font-size);
  line-height: var(--ucla-line-height-text);
}

h6,
.h6 {
  font-size: var(--ucla-font-size-small);
  line-height: var(--ucla-line-height-text);
}

/* Use the .stat-tout class for VERTICAL stat touts
  Example HTML structure (from Facts & Figures):
  <div class="stat-wrapper clearfix">
      <div class="stat-tout">
          <span class="stat-tout__number">31,000</span>
          <span class="stat-tout__label">Undergraduate Students</span>
      </div>
  </div>
  */
/* www.ioes.ucla.edu version
  <div class="ucla-c-stat-wrapper">
    <figure class="ucla-c-stat-tout">
        <span class="ucla-c-stat-tout__number">31,000</span>
        <figcaption class="ucla-c-stat-tout__label">Undergraduate Students</figcaption>
  </figure>
  </div>

  <div class="ucla-c-stat-wrapper">
    <p class="ucla-c-stat-tout">
        <span class="ucla-c-stat-tout__number">31,000</span>
        <span class="ucla-c-stat-tout__label">Undergraduate Students</span>
    </p>
  </div>

  */
.ucla-c-stat-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;
}

.ucla-c-stat-wrapper .ucla-c-stat-tout {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-left: var(--ucla-border-thick-gold);
  font-weight: var(--ucla-font-weight-bold);
  line-height: var(--ucla-line-height-text);
  margin-bottom: var(--ucla-spacing-xx-large);
}

@media screen and (min-width: 48em) {
  .ucla-c-stat-wrapper .ucla-c-stat-tout {
    margin-bottom: var(--ucla-spacing-x-large);
  }
}

.ucla-c-stat-wrapper .ucla-c-stat-tout__number, .ucla-c-stat-wrapper .ucla-c-stat-tout__label {
  margin-left: var(--ucla-spacing-x-large);
}

.ucla-c-stat-wrapper .ucla-c-stat-tout__number {
  font-size: var(--ucla-font-size-xxx-display);
  color: #333;
}

.ucla-c-stat-wrapper .ucla-c-stat-tout__label {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: var(--ucla-font-size-medium);
}

.ucla-c-stat-wrapper .ucla-c-stat-tout--wide {
  width: 100%;
  border-bottom: var(--ucla-border-thick-gold);
  padding-bottom: var(--ucla-spacing-medium);
  margin-bottom: var(--ucla-spacing-x-large);
}

.ucla-c-stat-wrapper .ucla-c-stat-tout__link {
  text-align: right;
}

.ucla-c-stat-wrapper .ucla-c-arrow-forward {
  margin-top: var(--ucla-spacing);
  padding: var(--ucla-spacing-x-small);
  border: var(--ucla-border);
  fill: #2774ae;
}

.ucla-c-stat-wrapper .ucla-arrow-forward:hover,
.ucla-c-stat-wrapper .ucla-arrow-forward:focus {
  background-color: #2774ae;
  fill: #fff;
}

/* example 2
<div class="ucla-c-stat-wrapper ucla-c-stat-tout">
	<figure>
	  31,000
	  <figcaption>Undergraduate Students</figcaption>
	</figure>
</div>
*/
.ucla-c-stat-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;
}

.ucla-c-stat-block figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-left: var(--ucla-border-thick-gold);
  font-size: var(--ucla-font-size-xxx-display);
  color: #333;
  font-weight: var(--ucla-font-weight-bold);
  line-height: var(--ucla-line-height-text);
  padding-left: var(--ucla-spacing-x-large);
  margin-bottom: var(--ucla-spacing-xx-large);
}

@media screen and (min-width: 48em) {
  .ucla-c-stat-block figure {
    margin-bottom: var(--ucla-spacing-x-large);
  }
}

.ucla-c-stat-block figure figcaption {
  font-size: var(--ucla-font-size-medium);
}

.ucla-c-stat-block a {
  text-align: right;
}

.ucla-c-stat-block .ucla-c-arrow-forward {
  margin-top: var(--ucla-spacing);
  padding: var(--ucla-spacing-x-small);
  border: var(--ucla-border);
  fill: #2774ae;
}

.ucla-c-stat-block .ucla-arrow-forward:hover,
.ucla-c-stat-block .ucla-arrow-forward:focus {
  background-color: #2774ae;
  fill: #fff;
}

.tags h2 {
  border-bottom: 1px solid var(--ucla-blue);
  margin: var(--ucla-spacing) 0;
}

.tags h3 {
  font-style: italic;
}

.tags ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.tags li {
  margin: var(--ucla-spacing-large) var(--ucla-spacing-small);
}

.tags a {
  background-color: var(--ucla-ucla-darker-blue);
  color: var(--ucla-white);
  padding: var(--ucla-spacing);
  text-decoration: none;
}

.tags a:hover,
.tags a:focus {
  background-color: var(--ucla-blue);
}

.standfirst,
.leadline {
  font-size: var(--ucla-font-size-large);
  line-height: var(--ucla-line-height-alt);
}

.typography main {
  display: grid;
  font-family: var(--ucla-font-family);
  grid-gap: 2vw;
  grid-template-areas: "type-face", "type-scale", "type-sample";
}

.typography header h1 {
  font-size: var(--ucla-font-size-display);
  font-weight: var(--ucla-font-weight-bold);
  margin: 0;
}

.typography .type-face {
  grid-area: typeface;
}

.typography .type-scale {
  grid-area: type-scale;
}

.typography .type-scale dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.typography .type-sample {
  font-size: var(--ucla-font-size-x-large);
  overflow-wrap: break-word;
}

.typography .type-sample h2 {
  font-size: var(--ucla-font-size-xx-large);
  font-weight: var(--ucla-font-weight-bold);
}

.typography footer {
  border-top: var(--ucla-border-width-hairline) solid var(--ucla-color-border-separator);
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: var(--ucla-spacing-medium);
}

.typography .thin {
  font-weight: var(--ucla-font-weight-thin);
}

.typography .light {
  font-weight: var(--ucla-font-weight-light);
}

.typography .regular {
  font-weight: var(--ucla-font-weight);
}

.typography .medium {
  font-weight: var(--ucla-font-weight-medium);
}

.typography .semi-bold {
  font-weight: var(--ucla-font-weight-semi-bold);
}

.typography .bold {
  font-weight: var(--ucla-font-weight-bold);
}

.typography .xbold {
  font-weight: var(--ucla-font-weight-xbold);
}

.typography .black {
  font-weight: var(--ucla-font-weight-black);
}

.typography .italic {
  font-style: italic;
}

body {
  display: grid;
  grid-gap: 2vw;
}

header {
  grid-column: 2 / -1;
  grid-row: 1;
}
/*# sourceMappingURL=styles.css.map */