html {
  font-family: helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #2774ae;
}

h2 {
  font-size: 2.5em;
  font-weight: normal; 
  margin: .33em 0;
}

h3 {
 margin-top: 1.5em; 
}

ul {
  line-height: 1.5em; 
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden;
}

.category {
  background-color: #ffffff;
  padding: 1em;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  margin-bottom: 1em;
}

.category:first-of-type {
 margin-top: 3em; 
}
