<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Stats, UCLA Design System Resources</title>
  </head>

  <body>
    <header>
      <h1>Stat blocks, Stat bars, Factoids and Rankings</h1>
      <p class="standfirst">Stat blocks, Stat bars, Factoids and Rankings are elements that include large number value and a description and horizontal or vertical bars on one side. It can be static or a link. Stat bars are similar to Stat Blocks but wider. Factoids are used for statements that don't begin with a prominent number or symbol ($, %). Rankings are used for statements that do begin with a prominent number or symbol ($, #).</p>
    </header>
    <main>
      <h2>Stat Blocks</h2>
      <h3>BEM style</h3>
      <div class="ucla-c-stat-wrapper">
        <div class="ucla-c-stat-tout">
          <span class="ucla-c-stat-tout__number">31,000</span>
          <span class="ucla-c-stat-tout__label">Undergraduate Students</span>
        </div>
        <div class="ucla-c-stat-tout">
          <span class="ucla-c-stat-tout__number">17</span>
          <span class="ucla-c-stat-tout__label">
            There are 17 principles of Environmental Justice
          </span>
        </div>

        <div class="ucla-c-stat-tout">
          <span class="ucla-c-stat-tout__number">
            29% </span>
          <span class="ucla-c-stat-tout__label">
            LA residents live within a quarter mile of a park. Low-income
            communities
            have less then ~2 acres per 1000 people
          </span>
        </div>
        <div class="ucla-c-stat-tout">
          <span class="ucla-c-stat-tout__number">2x-3x</span>
          <span class="ucla-c-stat-tout__label">
            Low-income neighborhoods and communities of color generally have
            less
            access to healthy food
          </span>
        </div>
      </div>
      <hr>
      <h3>Alternate Style</h3>
     
      <div class="ucla-c-stat-block">
        <figure>
          31,000
          <figcaption>Undergraduate Students</figcaption>
        </figure>
        <figure>
          31,000
          <figcaption>Undergraduate Students
              <a href="#">
                  <svg class="ucla-icon ucla-c-arrow-forward-short" width="24" height="24" viewBox="0 0 24 24" aria-labelledby="icon-arrow-forward-short" role="img" fill="#000">
                    <title id="icon-arrow-forward-short">Icon Arrow Forward Short</title>
                    <g fill-rule="evenodd"><path d="M20.384 13H0v-2h20.384L17 7.41 18.332 6 24 12l-5.668 6L17 16.59 20.384 13z" id="Combined-Shape"/></g>
                  </svg>
              </a>
          </figcaption>
          
        </figure>
        <figure>
          29%
          <figcaption>
            LA residents live within a quarter mile of a park. Low-income communities
            have less then ~2 acres per 1000 people
          </figcaption>
        </figure>
        <figure>
          2x-3x
          <figcaption>
            Low-income neighborhoods and communities of color generally have less
            access to healthy food
          </figcaption>
        </figure>
      </div>
      
    </main>
    
    <footer>
        <h4>UCLA UX</h4>
        <ul>
            <li><a href="https://ucla-ux.github.io/starterkit/">Starter Kit</a></li>
            <li><a href="https://github.com/ucla-ux/starterkit">Starter Kit code</a></li>
            <li><a href="https://github.com/ucla-ux/">UCLA UX on github</a></li>
            <li><a href="https://github.com/ucla-ux/design-system-resources">Design Systems Resources</a></li>
            <li><a href="assets/pdf/UCLA-Brand-Guidelines-Web-V1.0-20190531.pdf">UCLA Brand Guidelines Web Components PDF</a></li>
          </ul>
    </footer>
  </body>

</html>
