:root {
  /* Typography

  // ========================================== */
  --font-family: Helvetica, sans-serif;
  --font-family-display: 'Merriweather', serif;
  --font-family-alt: Futura, Arial, sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;

  /* Type scale */

  /* Add values for your typographic hierarchy in em/rem units: */

  /* Very large sizes */
  --font-size-xxxx-display: 5.202rem;
  --font-size-xxx-display: 3.247rem;
  --font-size-xx-display: 2.887rem;
  --font-size-x-display: 2.566rem;
  --font-size-display: 2.281rem;

  /* Large sizes */
  --font-size-xxxx-large: 2.027rem;
  --font-size-xxx-large: 1.802rem;
  --font-size-xx-large: 1.602rem;
  --font-size-x-large: 1.424rem;
  --font-size-large: 1.266rem;

  /* Regular sizes */
  --font-size-medium: 1.125rem;
  --font-size: 1rem;

  /* Small sizes */
  --font-size-small: 0.889rem;
  --font-size-x-small: 0.79rem;

  /* set base values */
  --text-base-size: var(--font-size);
  --text-scale-ratio: 1.125; /* major second */
  --text-scale-ratio-alt: 1.2;
  --line-height-text: 1.4;
  --line-height-heading: 1;

  /* hsl color space */
  --ucla-gold: hsl(49, 100%, 50%); /* #ffd100 */
  --ucla-darker-gold: hsl(44, 100%, 59%); /* #ffc72c */
  --ucla-darkest-gold: hsl(41, 100%, 55%); /* #ffb81c */
  --ucla-yellow: hsl(60, 100%, 50%);

  --ucla-blue: hsl(206, 63%, 42%); /* #2774ae */
  --ucla-lightest-blue: hsl(212, 95%, 93%); /* #daebfe */
  --ucla-lighter-blue: hsl(211, 67%, 73%); /* #8bb8e8 */
  --ucla-darker-blue: hsl(202, 100%, 26%); /* #005587 */
  --ucla-darkest-blue: hsl(202, 100%, 18%); /* #003b5c */
  
  
  --ucla-cyan: hsl(180, 100%, 50%);
  --ucla-magenta: hsl(321, 100%, 50%);
  --ucla-green: hsl(152, 100%, 50%);
  --ucla-janss-steps-green: hsl(138, 55%, 43%);
  --ucla-purple: hsl(259, 55%, 62%);

  --ucla-black: hsl(0, 0%, 0%);
  --ucla-black-90: hsl(0, 0%, 10%);
  --ucla-black-80: hsl(0, 0%, 20%);
  --ucla-black-70: hsl(0, 0%, 30%);
  --ucla-black-60: hsl(0, 0%, 40%);
  --ucla-black-50: hsl(0, 0%, 50%);
  --ucla-black-40: hsl(0, 0%, 60%);
  --ucla-black-30: hsl(0, 0%, 70%);
  --ucla-black-20: hsl(0, 0%, 80%);
  --ucla-black-10: hsl(0, 0%, 90%);
  --ucla-white: hsl(0, 0%, 100%);
  

  /* Border radii
 // ========================================== */

  --border-radius-x-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;

  /* Border widths
// ========================================== */

  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 5px;

  /* Spacing
// ========================================== */

  --max-width: 90rem;
 
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: 0.125rem;
   --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;

  /* Timing
// ========================================== */

  --duration-instantly: 0;
  --duration-immediately: 0.05s;
  --duration-quickly: 0.1s;
  --duration-promptly: 0.2s;
  --duration-slowly: 0.4s;
}
