:root {
  --ucla-gold: #ffd100;
  --ucla-blue: #2774ae;
  --ucla-lightest-blue: #daebfe;
  --ucla-lighter-blue: #8bb8e8;
  --ucla-darker-blue: #005587;
  --ucla-darkest-blue: #003b5c;
  --ucla-darker-gold: #ffc72c;
  --ucla-darkest-gold: #ffb81c;
  --ucla-cyan: #0ff;
  --ucla-magenta: #ff00a5;
  --ucla-green: #00ff87;
  --ucla-janss-steps-green: #32aa56;
  --ucla-yellow: #ff0;
  --ucla-purple: #8a69d4;
  --ucla-black: #000;
  --ucla-black-90: #1a1a1a;
  --ucla-black-80: #333;
  --ucla-black-70: #4d4d4d;
  --ucla-black-60: #666;
  --ucla-black-50: #808080;
  --ucla-black-40: #999;
  --ucla-black-30: #b3b3b3;
  --ucla-black-20: #ccc;
  --ucla-black-10: #e6e6e6;
  --ucla-white: #fff;

  --ucla-font-family: Helvetica, Arial, sans-serif;
  --ucla-font-family-display: --ucla-font-family;
  --ucla-font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --ucla-font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;

  --ucla-font-weight-thin: 200;
  --ucla-font-weight-light: 300;
  --ucla-font-weight: 400;
  --ucla-font-weight-medium: 500;
  --ucla-font-weight-semi-bold: 600;
  --ucla-font-weight-bold: 700;
  --ucla-font-weight-xbold: 800;
  --ucla-font-weight-black: 900;

  // Type scale major second 
  --ucla-text-scale-ratio: 1.125; 

  --ucla-font-size-xxxx-display: 4.624rem; //73px
  --ucla-font-size-xxx-display: 4.11rem; //65px
  --ucla-font-size-xx-display: 3.653rem; //58px
  --ucla-font-size-x-display: 2.887rem; //46px
  --ucla-font-size-display: 2.566rem; // 41px
  --ucla-font-size-xxxx-large: 2.027rem; //36px;
  --ucla-font-size-xxx-large: 1.802rem; //28px
  --ucla-font-size-xx-large: 1.602rem; //25px
  --ucla-font-size-x-large: 1.424rem; //22px
  --ucla-font-size-large: 1.266rem; //20px
  --ucla-font-size-medium: 1.125rem; //18px
  --ucla-font-size: 1rem; //16px
  --ucla-font-size-small: 0.889rem; // 14px
  --ucla-font-size-x-small: 0.79rem; // 12px

  // Strat comm defaults. px 
  --ucla-stratcomm-font-size-display: 4.5rem; //54px
  --ucla-stratcomm-font-size-xx-large: 3rem; //48px
  --ucla-stratcomm-font-size-x-large: 2.25rem; //36px
  --ucla-stratcomm-font-size-large: 1.5rem; //24px
  --ucla-stratcomm-font-size-medium: 1.125rem; //20px
  --ucla-stratcomm-font-size: 1rem; //16px
  --ucla-stratcomm-font-size-small: .8rem; //12.8px
  --ucla-stratcomm-font-size-x-small: .75rem; //12px

  // Line height 
  --ucla-line-height-text: 1.5; //150%
  --ucla-line-height-display: 1.125; //112.5%
  --ucla-line-height-alt: 1.25; //125%
  --ucla-line-height: 1;


 // Border radii

  --ucla-border-radius-x-small: .25rem;
  --ucla-border-radius-small: .5rem;
  --ucla-border-radius-medium: .75rem;
  --ucla-border-radius-large: 1rem;
  --ucla-border-radius-circle: 50%;

// Border widths

  --ucla-border-width-hairline: 1px;
  --ucla-border-width-thin: 2px;
  --ucla-border-width-thick: 4px;
  --ucla-border: var(--ucla-border-width-hairline) solid var(--ucla-blue);
  --ucla-border-thick-gold: var(--ucla-border-width-thick) solid var(--ucla-gold);  

// Spacing

  --ucla-max-width: 90rem;
  --ucla-min-width: 60rem;
  --ucla-spacing-x-small: .25rem;
  --ucla-spacing-small: .5rem;
  --ucla-spacing: .75rem;
  --ucla-spacing-medium: 1rem;
  --ucla-spacing-large: 1.5rem;
  --ucla-spacing-xx-small: .125rem;
  --ucla-spacing-x-large: 2rem;
  --ucla-spacing-xx-large: 3rem;

// Breakpoints relative to 16px base font
  --ucla-bp-x-small: 18.75em; //300px
  --ucla-bp-small: 30em; //480px
  --ucla-bp-medium: 48em; // 768px;
  --ucla-bp-large: 64em; // 1024px
  --ucla-bp-x-large: 75em; // 1200px;
  --ucla-bp-xx-large: 87.5rem; //1400px;
}
