:root {
  /* Typography

  // ========================================== */
  --font-family: "Helvetica Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-display: --font-family;
  --font-family-alt:
    -apple-system,
    BlinkMacSystemFont,
    helvetica neue,
    helvetica,
    Ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
  --font-family-mono:
    Menlo,
    Consolas,
    Monaco,
    Liberation Mono,
    Lucida Console,
    monospace;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;

  /* Type scale */

  /* Add values for your typographic hierarchy in em/rem units: */

  /* Very large sizes */
  //--font-size-xxxx-display: 4.5rem;
  //--font-size-xxx-display: 3.247rem;
  //--font-size-xx-display: 2.887rem;
  //--font-size-x-display: 2.566rem;
  --font-size-display: 4.5rem; //54px

  /* Large sizes */
  --font-size-xx-large: 3rem; //48px
  --font-size-x-large: 2.25rem; //36px
  --font-size-large: 1.5rem; //24px

  /* Regular sizes */
  --font-size-medium: 1.125rem; //20px
  --font-size: 1rem; //16px

  /* Small sizes */
  --font-size-small: 0.8rem; //12.8px
  --font-size-x-small: 0.75rem; //12px

  /* set base values */
  --text-base-size: var(--font-size);
  --text-scale-ratio: 1.125; /* major second */
  --text-scale-ratio-alt: 1.2;
  --line-height-text: 1.5; //150%
  --line-height-heading: 112.5%;
  --line-height-alt: 1.25; //125%

  /* Hex color space */
  --ucla-gold: #ffd100;
  --ucla-blue: #2774ae;
  --ucla-lightest-blue: #daebfe;
  --ucla-lighter-blue: #8bb8e8;
  --ucla-darker-blue: #005587;
  --ucla-darkest-blue: #003b5c;
  --ucla-darker-gold: #ffc72c;
  --ucla-darkest-gold: #ffb81c;
  --ucla-cyan: #0ff;
  --ucla-magenta: #ff00a5;
  --ucla-green: #00ff87;
  --ucla-janss-steps-green: #32aa56;
  --ucla-yellow: #ff0;
  --ucla-purple: #8a69d4;
  --ucla-black: #000;
  --ucla-black-90: #1a1a1a;
  --ucla-black-80: #333;
  --ucla-black-70: #4d4d4d;
  --ucla-black-60: #666;
  --ucla-black-50: #808080;
  --ucla-black-40: #999;
  --ucla-black-30: #b3b3b3;
  --ucla-black-20: #ccc;
  --ucla-black-10: #e6e6e6;
  --ucla-white: #fff;

  /* Border radii
 // ========================================== */

  --border-radius-x-small: 0.25rem;
  --border-radius-small: 0.5rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1rem;
  --border-radius-circle: 50%;

  /* Border widths
// ========================================== */

  --border-width-hairline: 1px;
  --border-width-thin: 2px;
  --border-width-thick: 5px;

  /* Spacing
// ========================================== */

  --max-width: 90rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xx-small: 0.125rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;

  /* Timing
// ========================================== */

  --duration-instantly: 0;
  --duration-immediately: 0.05s;
  --duration-quickly: 0.1s;
  --duration-promptly: 0.2s;
  --duration-slowly: 0.4s;
}
