/* Add UCLA name space to all CSS properties

// ========================================== */
// UCLA Brand Colors Hex color space
$ucla-gold: #ffd100;
$ucla-blue: #2774ae;
$ucla-lightest-blue: #daebfe;
$ucla-lighter-blue: #8bb8e8;
$ucla-darker-blue: #005587;
$ucla-darkest-blue: #003b5c;
$ucla-darker-gold: #ffc72c;
$ucla-darkest-gold: #ffb81c;
$ucla-cyan: #0ff;
$ucla-magenta: #ff00a5;
$ucla-green: #00ff87;
$ucla-janss-steps-green: #32aa56;
$ucla-yellow: #ff0;
$ucla-purple: #8a69d4;

$ucla-black: #000;
$ucla-black-90: #1a1a1a;
$ucla-black-80: #333;
$ucla-black-70: #4d4d4d;
$ucla-black-60: #666;
$ucla-black-50: #808080;
$ucla-black-40: #999;
$ucla-black-30: #b3b3b3;
$ucla-black-20: #ccc;
$ucla-black-10: #e6e6e6;
$ucla-white: #fff;

/* Typography
// ========================================== */
$ucla-font-family: Helvetica, Arial, sans-serif;
$ucla-font-family-display: $ucla-font-family;
$ucla-font-family-system: -apple-system, BlinkMacSystemFont, "helvetica neue",
  helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$ucla-font-family-mono: Menlo, Consolas, Monaco, "Liberation Mono",
  "Lucida Console", monospace;

// Font Weights //
$ucla-font-weight-thin: 100;
$ucla-font-weight-light: 300;
$ucla-font-weight: 400;
$ucla-font-weight-medium: 500;
$ucla-font-weight-semi-bold: 600;
$ucla-font-weight-bold: 700;
$ucla-font-weight-xbold: 800;
$ucla-font-weight-black: 900;

/* Type scale */
$ucla-text-scale-ratio: 1.125; /* major second */

/* Very large sizes */
$ucla-font-size-display: 4.5rem; //54px

/* Large sizes */
$ucla-font-size-xx-large: 3rem; //48px
$ucla-font-size-x-large: 2.25rem; //36px
$ucla-font-size-large: 1.5rem; //24px

/* Regular sizes */
$ucla-font-size-medium: 1.125rem; //20px
$ucla-font-size: 1rem; //16px

/* Small sizes */
$ucla-font-size-small: .8rem; //12.8px
$ucla-font-size-x-small: .75rem; //12px

/* Line height */
$ucla-line-height-text: 1.5; //150%
$ucla-line-height-display: 1.125; //112.5%
$ucla-line-height-alt: 1.25; //125%
$ucla-line-height-text: 1;

/* Border radii
// ========================================== */

$ucla-border-radius-x-small: .25rem;
$ucla-border-radius-small: .5rem;
$ucla-border-radius-medium: .75rem;
$ucla-border-radius-large: 1rem;
$ucla-border-radius-circle: 50%;

/* Border widths
// ========================================== */

$ucla-border-width-hairline: 1px;
$ucla-border-width-thin: 2px;
$ucla-border-width-thick: 5px;

/* Spacing
// ========================================== */

$ucla-max-width: 90rem;
$ucla-spacing-x-small: .25rem;
$ucla-spacing-small: .5rem;
$ucla-spacing: .75rem;
$ucla-spacing-medium: 1rem;
$ucla-spacing-large: 1.5rem;
$ucla-spacing-xx-small: .125rem;
$ucla-spacing-x-large: 2rem;
$ucla-spacing-xx-large: 3rem;

// breakpoints relative to 16px base font
$ucla-bp-x-small: 18.75em; //300px
$ucla-bp-small: 30em; //480px
$ucla-bp-medium: 48em; // 768px;
$ucla-bp-large: 64em; // 1024px
$ucla-bp-x-large: 75em; // 1200px;
$ucla-bp-xx-large: 87.5rem; //1400px;

// Alternative color spaces
// hsl color space
// $ucla-gold: hsl(49, 100%, 50%);
// $ucla-blue: hsl(206, 63%, 42%);
// $ucla-lightest-blue: hsl(212, 95%, 93%);
// $ucla-lighter-blue: hsl(211, 67%, 73%);
// $ucla-darker-blue: hsl(202, 100%, 26%);
// $ucla-darkest-blue: hsl(202, 100%, 18%);
// $ucla-darker-gold: hsl(44, 100%, 59%);
// $ucla-darkest-gold: hsl(41, 100%, 55%);
// $ucla-cyan: hsl(180, 100%, 50%);
// $ucla-magenta: hsl(321, 100%, 50%);
// $ucla-green: hsl(152, 100%, 50%);
// $ucla-janss-steps-green: hsl(138, 55%, 43%);
// $ucla-yellow: hsl(60, 100%, 50%);
// $ucla-purple: hsl(259, 55%, 62%);

// $ucla-black: hsl(0, 0%, 0%);
// $ucla-black-90: hsl(0, 0%, 10%);
// $ucla-black-80: hsl(0, 0%, 20%);
// $ucla-black-70: hsl(0, 0%, 30%);
// $ucla-black-60: hsl(0, 0%, 40%);
// $ucla-black-50: hsl(0, 0%, 50%);
// $ucla-black-40: hsl(0, 0%, 60%);
// $ucla-black-30: hsl(0, 0%, 70%);
// $ucla-black-20: hsl(0, 0%, 80%);
// $ucla-black-10: hsl(0, 0%, 90%);
// $ucla-white: hsl(0, 0%, 100%);

// RGB color space

// $ucla-gold: rgb(255, 209, 0);
// $ucla-blue: rgb(39, 116, 174);
// $ucla-lightest-blue: rgb(218, 235, 254);
// $ucla-lighter-blue: rgb(139, 184, 232);
// $ucla-darker-blue: rgb(0, 85, 135);
// $ucla-darkest-blue: rgb(0, 59, 92);
// $ucla-darker-gold: rgb(255, 199, 44);
// $ucla-darkest-gold: rgb(255, 184, 28);
// $ucla-cyan: rgb(0, 255, 255);
// $ucla-magenta: rgb(255, 0, 165);
// $ucla-green: rgb(0, 255, 135);
// $ucla-janss-steps-green: rgb(50, 170, 86);
// $ucla-yellow: rgb(255, 255, 0);
// $ucla-purple: rgb(138, 105, 212);

// $ucla-black: rgb(0, 0, 0);
// $ucla-black-90: rgb(26, 26, 26);
// $ucla-black-80: rgb(51, 51, 51);
// $ucla-black-70: rgb(77, 77, 77);
// $ucla-black-60: rgb(102, 102, 102);
// $ucla-black-50: rgb(128, 128, 128);
// $ucla-black-40: rgb(153, 153, 153);
// $ucla-black-30: rgb(179, 179, 179);
// $ucla-black-20: rgb(204, 204, 204);
// $ucla-black-10: rgb(230, 230, 230);
// $ucla-white: rgb(255, 255, 255);
