// /* Use the .stat-tout class for VERTICAL stat touts
//   Example HTML structure (from Facts & Figures):
//   <div class="stat-wrapper clearfix">
//       <div class="stat-tout">
//           <span class="stat-tout__number">31,000</span>
//           <span class="stat-tout__label">Undergraduate Students</span>
//       </div>
//   </div>
//   */

//   /* www.ioes.ucla.edu version
//   <div class="ucla-c-stat-wrapper">
//     <figure class="ucla-c-stat-tout">
//         <span class="ucla-c-stat-tout__number">31,000</span>
//         <figcaption class="ucla-c-stat-tout__label">Undergraduate Students</figcaption>
//   </figure>
//   </div>

//   <div class="ucla-c-stat-wrapper">
//     <p class="ucla-c-stat-tout">
//         <span class="ucla-c-stat-tout__number">31,000</span>
//         <span class="ucla-c-stat-tout__label">Undergraduate Students</span>
//     </p>
//   </div>

//   */

.ucla-c-stat-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;

  .ucla-c-stat-tout {
    display: flex;
    flex-direction: column;
    border-left: var(--ucla-border-thick-gold);
    font-weight: var(--ucla-font-weight-bold);
    line-height: var(--ucla-line-height-text);
    margin-bottom: var(--ucla-spacing-xx-large);
    @media screen and (min-width: $ucla-bp-medium) {
      margin-bottom: var(--ucla-spacing-x-large);
    }

    &__number,
    &__label {
      margin-left: var(--ucla-spacing-x-large);
    }

    // .number and .label are spans
    &__number {
      font-size: var(--ucla-font-size-xxx-display);
      color: $ucla-black-80;
    }

    &__label {
      display: flex;
      flex-direction: column;
      font-size: var(--ucla-font-size-medium);
    }

    &--wide {
      width: 100%;
      border-bottom: var(--ucla-border-thick-gold);
      padding-bottom: var(--ucla-spacing-medium);
      margin-bottom: var(--ucla-spacing-x-large);
    }
  }

  .ucla-c-stat-tout__link {
    text-align: right;
  }

  .ucla-c-arrow-forward {
    margin-top: var(--ucla-spacing);
    padding: var(--ucla-spacing-x-small);
    border: var(--ucla-border);
    fill: $ucla-blue;
  }

  .ucla-c-arrow-forward:hover,
  .ucla-c-arrow-forward:focus {
    background-color: $ucla-blue;
    fill: $ucla-white;
  }

}

// /* example 2
// <div class="ucla-c-stat-block">
// 	<figure>
// 	  31,000
// 	  <figcaption>Undergraduate Students</figcaption>
// 	</figure>
// </div>
// */


.ucla-c-stat-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2vw;

  figure {
    display: flex;
    flex-direction: column;
    font-size: var(--ucla-font-size-xxx-display);
    font-weight: var(--ucla-font-weight-bold);
    color: $ucla-black-80;
    border-left: var(--ucla-border-thick-gold);
    padding-left: var(--ucla-spacing-x-large);
    margin-bottom: var(--ucla-spacing-xx-large);
    @media screen and (min-width: $ucla-bp-medium) {
      margin-bottom: var(--ucla-spacing-x-large);
    }

    figcaption {
      font-size: var(--ucla-font-size-medium);
    }

  }

  a {
    text-align: right;
    display: block;
    margin-top: var(--ucla-spacing);
  }

  .ucla-c-arrow-forward-short {
    margin-top: var(--ucla-spacing);
    padding: var(--ucla-spacing-x-small);
    border: var(--ucla-border);
    fill: $ucla-blue;    
  }

  .ucla-c-arrow-forward-short:hover,
  .ucla-c-arrow-forward-short:focus {
    background-color: $ucla-blue;
    fill: $ucla-white;
  }

}