
.tags {
  h2 {
    border-bottom: 1px solid var(--ucla-blue);
    margin: var(--ucla-spacing) 0;
  }

  h3 {
    font-style: italic;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
  }

  li {
    margin: var(--ucla-spacing-large) var(--ucla-spacing-small);
  }

  a {
    background-color: var(--ucla-ucla-darker-blue);
    color: var(--ucla-white);
    padding: var(--ucla-spacing);
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background-color: var(--ucla-blue);
  }
}
