// =====================================================
//   Links
//   w3c.github.io/html/links.html
// =====================================================

.category a {
  background-color: var(--ucla-darker-blue);
  color: var(--ucla-white);
  padding: var(--spacing);
}

.category a:hover {
  background-color: var(--ucla-blue);
}