// =====================================================
//   Sections
//   w3c.github.io/html/sections.html
// ======================================================
// body, header, nav, main, aside, footer, article, section

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  border-top: 25px solid var(--ucla-blue);
  color: var(--ucla-black-80);
  font-family: var(--ucla-font-family);
  font-size: var(--ucla-font-size);
  margin: 0;
}

main,
header,
footer,
aside {
  margin: auto;
  min-width: var(--ucla-max-width);
}

aside {
  border: var(--ucla-border);
  padding: var(--ucla-spacing-x-large);
}
