/* =====================================================
   Text-level semantics
   w3c.github.io/html/textlevel-semantics.html
   ===================================================== */

// a, em, strong, small, s, cite, q, dfn, abbr, ruby, rb, rt, rtc, rp, data, time, code, var, samp, kdb, sub, sup, i, b, u, mark, bdi, bdo, span, br, wbr


small,
.small,
.legal {
  font-size: var(--ucla-font-size-x-small);
}

code {
  font-family: var(--ucla-font-family-code);
}


.font-size-small {
  font-size: var(--ucla-font-size-small);
}

.font-size {
  font-size: var(--ucla-font-size);
}

.font-size-medium {
  font-size: var(--ucla-font-size-medium);
}

.font-size-large {
  font-size: var(--ucla-font-size-large);
}

.font-size-x-large {
  font-size: var(--ucla-font-size-x-large);
}

.font-size-xx-large {
  font-size: var(--ucla-font-size-xx-large);
}

.font-size-display {
  font-size: var(--ucla-font-size-display);
}
