/* =====================================================
   Lists semantics
   w3c.github.io/html/textlevel-semantics.html
   =====================================================
*/

ul,
ol {
  color: var(--ucla-black-80);
  font-size: var(--ucla-font-size);
  line-height: var(--ucla-line-height-text);
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: var(--ucla-spacing);
}
